@model ShopOnline.Models.OrderPro

@{
    ViewBag.Title = "Chỉnh sửa đơn hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/Content/page.style/EditAdminOrder.css" rel="stylesheet" />

<div class="container">
    <h2>Chỉnh sửa đơn hàng</h2>
    <hr />

    @using (Html.BeginForm("Edit", "OrderAdmin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <div class="form-group">
        @Html.LabelFor(model => model.DateOrder, "Ngày đặt", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.HiddenFor(model => model.DateOrder)   <!-- giữ giá trị khi submit -->

            <p class="edit" >
                @(Model.DateOrder.HasValue
                ? Model.DateOrder.Value.ToString("dd/MM/yyyy HH:mm")
                : "")
            </p>

            @Html.ValidationMessageFor(model => model.DateOrder, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.Label("Khách hàng", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.HiddenFor(model => model.IDCus)   <!-- giữ IDCus khi submit -->

            <p class="edit">
                @Model.Customer.NameCus
            </p>

            @Html.ValidationMessageFor(model => model.IDCus, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.AddressDeliverry, "Địa chỉ giao hàng", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
           <p class="edit">
               @Model.AddressDeliverry
           </p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Status, "Trạng thái", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Status", (SelectList)ViewBag.StatusList, "-- Chọn trạng thái --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-floppy-disk"></span> Lưu thay đổi
            </button>
            <a href="@Url.Action("Index")" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Quay lại
            </a>
        </div>
    </div>
</div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
